.u-center-text {
    text-align: center !important;
}

.u-mb-8 {
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-mb-4 {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-mb-2 {
    margin-bottom: 1.5rem !important;
}

.u-mt-8 {
    margin-top: 8rem !important;
}

.u-mt-10 {
    margin-top: 10rem !important;
}